---
export interface Props {
  title?: string;
}
const { title = "News SKI" } = Astro.props;
---
<!DOCTYPE html>
<html lang="id">
<head><meta charset="utf-8"><title>{title}</title></head>
<body><slot /></body>
</html>
